* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dashed;
}
/* HEADER */
.header {
  background-color: #3498db;
  color: #fff;
  height: 80px;
  padding-left: 1%;
  padding-right: 1%;
}
header i {
  padding-left: 10px;
}
.logo {
  margin-right: 15px;
}

/* NAV LEFT */
.big-container {
  display: flex;
  background-color: #12293e;
}

.nav-left {
  background-color: #0f263d;
  min-height: calc(100vh - 80px);
  width: 150px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav-left a {
  text-decoration: none;
  color: white;
  line-height: 35px;
  margin-left: 10%;
}
.nav-left i {
  margin-right: 10px;
}

.nav-links:hover {
  background-color: rgb(174, 193, 0);
}

/* NAV LEFT XS */
.continer-nav-left-xs {
  padding: 10px;
  display: none;
}

.nav-left-xs img {
  opacity: 0.5;
}

.nav-left-xs {
  height: 100%;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0f263d;
  text-align: center;
  color: white;
}

/* NAV CENTER */
.central {
  height: 100%;
  width: 100%;
  padding: 20px; /* Aggiunto padding per separazione dai bordi */
}

.students {
  height: 120px;
  background-color: #c0c600;
  padding-right: 5%;
}

/* CONTAINER PROSSIME CLASSI AND FAQ */
.container-prossime-classi-and-faq {
  width: 60%;
  padding: 20px;
  background-color: #43ecec; /* Grigio Bootstrap */
  border-radius: 10px;
  margin: 20px 0;
}

/* CONTAINER TODO UTENTI ATTIVI */
.container-todo-utenti-attivi {
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  background-color: #1720d5; /* Grigio Bootstrap */
  border-radius: 10px;
}

/******media query *******************/

@media all and (max-width: 768px) {
  .nav-left-xs {
    display: block;
  }
  .d-flex {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .container-prossime-classi-faq,
  .container-utenti,
  .container-todo {
    width: 100%;
  }
}
