header {
  height: 60px;
  background-color: rgb(248, 249, 250);
}

header i {
  padding-left: 10px;
}
.logo {
  margin-right: 60px;
}

/* NAV-LEFT */
.nav-left {
  min-height: calc(100vh - 80px);
  width: 150px;
  background-color: #0f263d;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.nav-left a {
  text-decoration: none;
  color: white;
  line-height: 35px;
  margin-left: 10%;
}
.nav-left i {
  margin-right: 10px;
}

.nav-links:hover {
  background-color: rgb(157, 157, 157);
}

/* NAV LEFT XS */
.continer-nav-left-xs {
  padding: 0.5%;
  display: none;
}

.nav-left-xs {
  height: 100%;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0f263d;
  text-align: center;
  color: white;
}

/* NAV CENTER */
.central {
  height: 100%;
  width: 100%;
}

.students {
  height: 120px;
  background-color: #1b72e8;
  padding-right: 5%;
}

.nav-center .boolean-piano-blaze button {
  border-radius: 25px;
  background-color: #165bba;
}

.plus.btn {
  margin-left: 15px;
}

/* CONTAINER PROSSIME CLASSI AND FAQ */
.container-prossime-classi-and-faq {
  width: 60%;

  padding: 1%;
}

/* PROSSIME CLASSI */

caption,
.faq {
  background-color: rgb(232, 232, 232);
}

.class {
  padding-right: 150px;
}

.prossime-classi i {
  max-width: 100%;
  font-size: 150%;
}

.prossime-classi td {
  padding: 0.1rem;
}

/* FAQ */
.faq {
  width: 100%;
  margin-top: 2%;
}

.accordion {
  --bs-accordion-active-bg: rgb(255, 255, 255);
  --bs-accordion-btn-focus-box-shadow: rgb(0, 0, 0);
}

/* TODO */
.container-todo-utenti-attivi {
  width: 35%;
  margin: 0 auto;
  padding: 1%;
}
.border.rounded {
  padding: 5px;
  max-width: 100%;
}

/* UTENTI ATTIVI */
.utenti-attivi {
  margin-top: 30px;
}
.offcanvas.offcanvas-end {
  width: 100%;
}
@media all and (max-width: 768px) {
  .container-prossime-classi-and-faq {
    width: 100%;
  }
  .container-todo-utenti-attivi {
    width: 100%;
  }
}

/* desktop */

@media only screen and (min-width: 992px) {
  .offcanvas.offcanvas-end {
    width: 50%;
  }
}
